@import url(../node_modules/@fortawesome/fontawesome-free/css/all.min.css);

/* Header */
.principal-card {
  background-image: radial-gradient(
    ellipse at bottom left,
    #c1deb0 0,
    transparent
  );
}

/* List Receipts */
.footer {
  background-color: rgba(79, 206, 79, 0.775);
  position: absolute;
  color: #fff;
  text-align: center;
}

/* Form Add */
.btn-add {
  border-radius: 0.5rem;
  border: 1px solid #179b46;
  background-color: #179b46;
  color: #fff;
  padding: 0.4rem;
}

.btn-add:hover {
  color: #fff;
  text-decoration: none;
  background-color: #179b457d;
  border: 1px solid #179b457d;
}

/* Shared */
.info-section {
  margin-bottom: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-section p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
